body{
  width: 100%;
  height: 100vh;
  background-image: url('./images/bg-design.png');
  background-size: cover;
  background-color:rgba(135, 206, 250, 0.295);
  background-repeat: no-repeat;
}
.nav-item .active{
  font-weight: 450!important;
  border-bottom: 2px solid rgb(51, 146, 153);
}
.card-img-top{
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px 25px 0 0;
}
.user-avatar{
  height: 70px;
  width: 70px;
}
.btn-start{
  background-color: white;
  color: black;
  border-radius: 25px;
  border: 2px solid lightskyblue;
  transition: .3s all linear;
}
.btn-start:hover{
  background-color: lightskyblue;
  color: white;
}
.round-25{
  border-radius: 25px;
}
.home{
  display: flex;
  min-height: 90vh;
  justify-content: center;  
  align-items: center;
}
.home-img{
  display: flex;
  margin-left: auto;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
